.App {
  height: 100%;
  text-align: center;
}

.nav--main {
  margin-top: 2rem;
}

.nav--loggedin {
  text-align: right;
}

.user-avatar {
  border: 2px solid #222;
  border-radius: 50%;
  height: 50px;
  margin-right: 2ch;
  width: 50px;
}

.table--matched,
.table--missed {
  margin: 2rem auto;
  width: 100%;
}

.table--matched {
  margin-bottom: 4rem;
}

.table--matched .MuiTableHead-root th,
.table--missed .MuiTableHead-root th {
  background-color: #222;
  color: #fff;
  cursor: pointer;
  position: sticky;
  transition: background-color 0.2s ease-in-out;
}

.table--matched .MuiTableHead-root th:hover,
.table--missed .MuiTableHead-root th:hover {
  background-color: #f50057;
}

.table--missed {
  padding-bottom: 10rem;
}

.MuiTableHead-root .MuiSvgIcon-root {
  fill: white;
}

.MuiTableHead-root .PrivateSwitchBase-checked-16 .MuiSvgIcon-root {
  fill: #f50057;
}
